
body {
    margin: 0;
}

.pantallaInicio {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;  
}
.inicio:hover{
    height: 10em;
    display: flex;
    align-items: center;
    background-color: black;
}

.pantallaIntro {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.pantallaSeleccion {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
.selectyourcar{
    background-color: black;
    color: red;
    font-size: 2em;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pantallaCarrera{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
#coche0{
    height: 15em;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: brown;
}
#coche1{
    height: 15em;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: brown;
}
.ContadorDistancia{
    background-color: black;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    height: 20vh;
}


.startbutton:hover{
    height: 2em;
}

.pic {
    height: 10em;
    display: flex;
    align-items: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: brown;
}